.product-list {
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 70px;
  max-width: 1280px;
  box-sizing: border-box;
  padding-left: 76px;
  padding-right: 76px;

  &__filter-block {
    min-width: 216px;
    width: 216px;
    margin: 0 auto;
  }

  &__products {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px 24px;
    justify-content: space-evenly;
  }

  &__sorting {
    text-align: right;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 40px;
  }
}
